<%= form_with model: [recipe, instruction], local: true do |form| %>
    <ul>
        <li><%= form.label :step %></li>
        <li><%= form.text_field :step %></li>
        <li><%= form.label :body %></li>
        <li><%= form.text_area :body %></li>
        <li><%= form.submit %></li>
    </ul>
<% end %>