<%= render 'shared/errors', object: recipe %>
<%= form_with model: recipe, local: true do |form| %>
    <ul>
        <li><%= form.label :title %></li>
        <li><%= form.text_field :title %></li>
        <li><%= form.label :description %></li>
        <li><%= form.text_area :description %></li>
    </ul>
   
     <%= form.fields_for :ingredients do |builder| %>
     
          <%= builder.hidden_field :user_id, value: current_user.id %>
          <%= builder.label :amount %>
          <%= builder.text_field :amount %>
          <%= builder.check_box :_destroy %>
          <%= builder.label :_destroy, "remove"%>
          
       <%end%>
        <li><%= form.submit %></li>
<% end %>
