<%= link_to "Back", root_path %>
<%= form_with model: @recipe, local: true do |t| %>
    <ul>
        <li><%= t.label :title %></li>
        <li><%= t.text_field :title %></li>
        <li><%= t.label :description %></li>
        <li><%= t.text_area :description %></li>
        <li><%= t.submit %></li>
    </ul>
<% end %>
