<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <%= link_to root_path do %>
        <h1 class="title">Homemade Recipe</h1>
      <% end %>
  </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        <% if logged_in? %>
          <%= link_to new_recipe_path, class: "button is-caffe" do %>
            <strong><i class="fa fa-plus btn"></i></strong>
          <% end %>
          <%= link_to logout_path, method: :delete, class: "button is-caffe-light" do %>
            <strong><i class="fa fa-times-circle btn"></i></strong>
          <% end %>
        <% else %>
          <%= link_to login_path, class: "button is-caffe-light" do %>
            <strong>Login</strong>
          <% end %>
          <%= link_to signup_path, class: "button is-caffe" do %>
            <strong>Signin</strong>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
<hr class="is-caffe">